PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/edraflow
JWT_SECRET=your_super_secret_jwt_key_change_in_production
CLOUDINARY_NAME=your_cloudinary_cloud_name
CLOUDINARY_KEY=your_cloudinary_api_key
CLOUDINARY_SECRET=your_cloudinary_api_secret
CLIENT_URL=http://localhost:5173
